$footer-height: 64px;
$header-height: 64px;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  height: 100%;
  font-family: 'Roboto', serif;
  font-size: 18px;
}

/* Move down content because we have a fixed navbar that is 50px tall */
#content {
  padding-top: $header-height;
}

#home-logo {
  margin: (-$header-height) auto 0 auto;
  max-width: 700px;
}

.push-down1 {
	margin-top: 100px;
}

.row.centered {
  text-align: center;
}

.vertical-align {
  display: flex;
  align-items: center;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto (-$footer-height);
  padding: 0 0 $footer-height;
}

#footer {
  height: $footer-height;
  background-color: #f5f5f5;
}
