// http://codepen.io/ftroitsky/pen/xwLcv/

.show-hide.ng-hide-add, .show-hide.ng-hide-remove {
  -webkit-transition:all linear 0.2s;
  -moz-transition:all linear 0.2s;
  transition:all linear 0.2s;
  display:block!important;
  position: absolute;
}

.show-hide.ng-hide-add.ng-hide-add-active,
.show-hide.ng-hide-remove {
  top: -8px;
  display:block!important;
  position: absolute;
  opacity: 0;
}

.show-hide.ng-hide-add,
.show-hide.ng-hide-remove.ng-hide-remove-active {
  top:-14px;
  opacity: 1;
  display:block!important;
  position: absolute;
}

.field {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.field > label {
  position: absolute;
  top: -14px;
  color: #428bca;
  font-size: 0.8em;
}
