<div class="container-fluid" id="footer">
  <div class="row centered">
    <div class="col-sm-12">
      About Us - Invite - Contact Us
    </div>
  </div>
  <div class="row centered">
    <div class="col-sm-12">
      &copy; 2014-2015, Cohortable, LLC.
    </div>
  </div>
</div>
