<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container-fluid">
    <!-- Group Brand and toggle for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui.sref="app.search"><img class="img-responsive" alt="Cohortable Logo" src="/images/square.png"></a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul ng-if="!header.security.isAuthenticated" class="nav navbar-nav text-center">
        <li><a href ui-sref="app.home">Home</a></li>
        <li><a href="#">Invitations</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Cohorts</a></li>
      </ul>
      <ul ng-if="header.security.isAuthenticated" class="nav navbar-nav navbar-right">
        <li><a href ng-click="header.security.logout()">Logout {{header.security.currentUser.username}}</a></li>
      </ul>
      <ul ng-if="!header.security.isAuthenticated" class="nav navbar-nav navbar-right">
        <li><a href ui-sref=".login">Login</a></li>
      </ul>
    </div>
  </div>

</nav> <!-- @END/ navbar -->
