
<div class="col-sm-6 col-sm-offset-3 push-down1">

  <h1><span class="fa fa-sign-in"></span>Register</h1>

  <!-- Registeration Form -->
  <form name="fmRegister" novalidate method="post" ng-submit="register.register()">

    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="register.username" ng-required="true">
    </div>


    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" ng-model="register.password" ng-required="true">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" name="passwordConfirmation" ng-model="register.passwordConfirmation" ng-required="true">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" ng-model="register.email" ng-required="true">
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-10">

        <!-- Form will be invalid unless the input box has content only then will the Button become active-->
        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="fmRegister.$invalid">Register</button>

      </div>
    </div>

  </form>

  <hr>
  <p>Already have an account? <a href ui-sref="app.login">Login</a></p>
  <p>Or go <a href ui-sref="app">home</a>.</p>

</div>




