<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <img id="home-logo" class="img-responsive" alt="Cohortable Logo" src="/images/header-beta.png"/>
    </div>
  </div> <!-- log row -->
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><b>DISCOVER</b> brand partners, <b>CONNECT</b> with new customers, and <b>GROW</b> your business.</p>
    </div>
  </div> <!-- tag row -->
</div>
<div class="container container-sm-height">
  <div class="row row-sm-height">
    <div class="col-sm-12 col-md-3 col-md-offset-3 col-sm-height">
      <div ui-view="input"></div>
    </div>
    <div class="col-sm-12 col-md-3 col-sm-height col-middle">
      <div class="row centered">
        <div ui-view="button"></div>
        <p>OR</pv>
        <p><a href class="btn btn-primary">Learn More</a>
        <div ui-view="link"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row centered">
    <div class="col-sm-5"><hr/></div>
    <div class="col-sm-2"><i class="fa fa-angle-down fa-5x">&nbsp;</i></div>
    <div class="col-sm-5"><hr/></div>
  </div>
  <hr/>
  <div class="row centered">
    <p>How Can Cohortable Help Me?</p>
    <p>Discover & connect with brand partners - Build and launch campaigns - Utilize new partnerships to grow your audience - Establish and maintain your company's partnership network</p>
  </div>
  <hr/>
  <div class="row centered">
    <p>Reasons To Connect</p>
    <p>Events - Promostions - Sweepstakes and Giveaways - Brand Collaborations - Sponsors - Shared Email Blasts - Media Outreach - Product Collaborations</p>
  </div>
  <hr/>
  <div class="row centered">
    <p>Cohortables platform helps brands easily connect and run multiple cross promostions with other brands.</p>
  </div>
</div><!-- container -->
