<form name="fmLogin">
  <div class="field" ng-class="{ 'has-error': fmLogin.username.$touched && fmLogin.username.$error.required }">
    <label ng-show="home.username" class="show-hide">Username</label>
    <input type="text" name="username" class="form-control" ng-model="home.username" placeholder="Username" ng-required="true" />
  </div>
  <div class="field" ng-class="{ 'has-error': fmLogin.password.$touched && fmLoging.password.$error.required }">
    <label ng-show="home.password" class="show-hide">Password</label>
    <input type="password" name="password" class="form-control" ng-model="home.password" placeholder="Password" ng-required="true" />
  </div>
</form>
