<form name="fmRegister">
  <div class="field" ng-class="{ 'has-error': fmRegister.username.$touched && fmRegister.username.$error.required || fmRegister.username.$error.usernameAvailable}">
    <label class="control-label show-hide" ng-show="home.username">Username</label>
    <label class="control-label" ng-show="fmRegister.username.$error.usernameAvailable">Username is already taken</label>
    <input type="text" name="username" class="form-control" username-available-validator
    ng-model="home.username" placeholder="Username" ng-required="true" />
  </div>

  <div class="field" ng-class="{ 'has-error': fmRegister.company.$touched && fmRegister.company.$error.required }">
    <label ng-show="home.company" class="show-hide">Company</label>
    <input type="text" name="company" class="form-control" ng-model="home.company" placeholder="Company" ng-required="true" />
  </div>

  <div class="field" ng-class="{ 'has-error': fmRegister.industry.$touched && fmRegister.industry.$error.required }">
    <label ng-show="home.industry" class="show-hide">Industry</label>
    <input type="text" name="industry" class="form-control" ng-model="home.industry" placeholder="Industry" ng-required="true" />
  </div>

  <div class="field" ng-class="{ 'has-error': fmRegister.email.$touched && fmRegister.email.$error.required }">
    <label ng-show="home.email" class="show-hide">Email</label>
    <input type="text" name="email" class="form-control" ng-model="home.email" placeholder="Email" ng-required="true" />
  </div>

  <div class="field" ng-class="{ 'has-error': fmRegister.password.$touched && fmRegister.password.$error.required }">
    <label ng-show="home.password" class="show-hide">Password</label>
    <input type="password" name="password" class="form-control" ng-model="home.password" placeholder="Password" ng-required="true" />
  </div>

  <div class="field" ng-class="{ 'has-error': fmRegister.passwordConfirmation.$touched && fmRegister.passwordConfirmation.$error.required }">
    <label ng-show="home.passwordConfirmation" class="show-hide">Confirm Password</label>
    <input type="password" name="passwordConfirmation" class="form-control" ng-model="home.passwordConfirmation" placeholder="Confirm Password" ng-required="true" />
  </div>

</form>
