<div class = "container push-down1">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <!-- Form to input username and password  -->
    <form name="fmLogin" novalidate ng-show="!security.isAuthenticated">

      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" ng-model="login.username" ng-required="true">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="login.password" ng-required="true">
      </div>

      <button type="submit" class="btn btn-warning btn-lg" ng-click="login.login()" ng-disabled="fmLogin.$invalid">Login</button>


    </form>

    <hr>

    <p>Need an account? <a href ui-sref="app.register">Register</a></p>
    <!--<p>Or go <a href="/#/">home</a>.</p>-->
    <p>Or go <a href ui-sref="app">home</a>.</p>

  </div>

</div>
